<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<connectionStrings>
		<!--Redis数据库连接配置-->
		<add name="RedisConfig" connectionString="10.201.6.2:6379,Password=secret2008code,DefaultDatabase=11,KeepAlive=180" />
		<!--ERP业务数据库-->
		<add name="connERP600Main" connectionString="server=10.200.0.91;uid=erpdba;pwd=s@fe201Oen0ugh;database=erp600_main" />
		<add name="connKcgl" connectionString="server=10.200.0.91;uid=erpdba;pwd=s@fe201Oen0ugh;database=erp600_kcgl" />
		<add name="connXsgl" connectionString="server=10.200.0.91;uid=erpdba;pwd=s@fe201Oen0ugh;database=erp600_xsgl" />
		<add name="connCjgl" connectionString="server=10.201.6.50;uid=erpdba;pwd=s@fe201Oen0ugh;database=erp600_cjgl" />
		<add name="connAPP" connectionString="server=10.201.1.63;uid=lttc_app_user;pwd=xxxxxx;database=LTTC_APP" />
		<add name="connADMBW" connectionString="server=10.200.4.1;uid=xjapp;pwd=xxxxxx;database=bw" />
		<add name="connEOM" connectionString="server=10.200.0.91;uid=erpdba;pwd=s@fe201Oen0ugh;database=EOM" />
		<add name="connLTGROUP" connectionString="server=10.200.0.93;uid=erpdba;pwd=s@fe201Oen0ugh;database=LTGROUPMAIN" />
		<add name="connLTGRP_SYGK" connectionString="server=10.200.4.1;uid=erpdba;pwd=s@fe201Oen0ugh;database=SYGC" />
		<add name="connVNERPMAIN" connectionString="server=172.20.200.90;uid=infobridge;pwd=secret2008code;database=VNYDERPMAIN" />
		<add name="connCjglFreeSql" connectionString="Data Source=10.201.6.50;User Id=erpdba;Password=s@fe201Oen0ugh;Initial Catalog=erp600_cjgl;Encrypt=True;TrustServerCertificate=True;Pooling=true;Min Pool Size=1" />
		<!--临时测试数据库-->
		<add name="connXXB" connectionString="server=10.20.71.196;uid=xxb;pwd=xxxxxx;database=XXB" />
	</connectionStrings>
	<system.webServer>
		<directoryBrowse enabled="true" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
	</system.web>
	<system.web.extensions>
		<!--配置 JSON 序列化-->
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="5000000" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>